.footer-main {
  padding: 34px 0 24px;
  background-color: #111111;
}

.fot-sec-one {
  display: flex;
  flex-direction: column;
  margin: 73px 12px 0;
}

.fod-log-top-tex {
  margin: 32px 0 8px;
  font-size: 14px;
}

.fod-ali-main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.sol-icn-size {
  width: 32px;
  height: 32px;
}

.ply-ali-main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.ply-ic-store-size {
  width: 125px;
  height: 36px;
}

.white-des-text-fot {
  margin: 32px 0 8px;
  color: #fff;
  font-size: 14px;
}

.orn-txt-lnk {
  color: #ff6d2e;
  text-decoration-line: underline;
  margin-left: 4px;
}

/* .lis-hed-txt {
  font-style: normal;
  color: #fff;
  font-size: 16px;
  margin-bottom: 12px;
  line-height: 16px;
}

.fod-lis-link {
  font-style: normal;
  color: #96969d;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  padding: 8px 0;
} */

.fot-sec-two {
}
