.footer-main {
  background-color: #111111;
}

.fot-sec-one-main {
  display: flex;
  gap: 64px;
  border-bottom: 1px solid #8c8e8e;
  flex-wrap: wrap;
  padding: 0 2rem 24px;
}

.fot-sec-one {
  display: flex;
  flex-direction: column;
  margin: 73px 12px 0;
}

.fod-log-top-tex {
  margin: 32px 0 8px;
  font-size: 14px;
}

.fod-ali-main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.sol-icn-size {
  width: 32px;
  height: 32px;
}

.ply-ali-main {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.ply-ic-store-size {
  width: 125px;
  height: 36px;
}

.white-des-text-fot {
  margin: 32px 0 8px;
  color: #fff;
  font-size: 14px;
}

.orn-txt-lnk {
  color: #ff6d2e;
  text-decoration-line: underline;
  margin-left: 4px;
}

.sec-ali-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 64px;
}

.fot-sec-two {
  width: 160px;
  margin: 73px 12px 0;
}

.fod-hr-line-main {
  width: calc(100% - 64px);
  display: flex;
  justify-content: space-between;
  padding: 24px 32px;
}

.play-img {
  width: 100px;
  height: 19px;
}

.powered-by-main {
  display: flex;
  align-items: center;
  gap: 14px;
}

.copyright-txt {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #fff;
}

.powered-by-link {
  color: #96969d;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 28px;
}
