* {
  padding: 0;
  margin: 0;
  font-family: "Proxima Nova";
  /* font-family: proximaNova, sans-serif; */
  color: #fff;
}

.cursor-pointer {
  cursor: pointer;
}

/* component style */
.mov-un-detail-img-size {
  width: 212px !important;
  height: 119px !important;
}

.mov-lis-arr-hov-w-h {
  width: 134px !important;
  height: 158px !important;
}

.mov-lis-arr-pos {
  top: 118px !important;
  left: 16px !important;
}

.mov-pos-ali {
  top: 50px !important;
  left: 0px !important;
}

/* component style */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
