.hero-main {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.left-pos-main {
  width: 600px;
  padding: 1rem 3rem;
  max-width: 50%;
  position: absolute;
  top: 30%;
  box-sizing: border-box;
  z-index: 6;
}

.pos-hed {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 32px;
  font-weight: 700;
  line-height: 58px;
}

.pos-sup-hed {
  font-size: 17.6px;
  font-weight: 600;
  line-height: 1.6875rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0.3rem;
}

.pos-des {
  font-size: 16px;
  text-wrap: balance;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.3rem;
  line-height: 22px;
  font-weight: bold;
}

.l-a-r-main {
  display: flex;
  width: 100%;
}
.m-left-main {
  width: 30%;
  height: 100vh;
  background-color: #121212;
  border: 3px;
}

.m-right-main {
  width: 70%;
  height: 100vh;
}

.video-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-left-div-main {
  height: 100%;
  display: flex;
  /* width: 125%; */
  flex-direction: column;
  justify-content: center;
  position: absolute;
  inset: 0;
  background: linear-gradient(
      266.91deg,
      rgba(18, 18, 18, 0) 49.99%,
      rgba(18, 18, 18, 0.5) 57.43%,
      rgba(18, 18, 18, 0.8) 63.83%,
      #121212 75.07%
    ),
    linear-gradient(180deg, rgba(18, 18, 18, 0) 80.52%, #121212 96.26%);
}

.last-left-carousel-main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  width: 22%;
  height: 244px;
}

.left-carousel-img {
  width: 85px;
  height: 48px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
}

.all-btn-img-ali-main {
  position: relative;
  /* min-width: 100%; */
  width: 96%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 6%;
  left: 3%;
}

.add-arr-hover {
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.2);
  }
}

.selected {
  border: 2px solid #fff;
  border-radius: 12px;
  padding: 3px;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  animation: showUp 0.3s ease;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 10px #0003;
  min-height: 50px;
}

/* border: 2px solid #fff;
    border-radius: 12px;
    padding: 3px;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform .3s ease, opacity .3s ease;
    animation: _ngcontent-serverApp-c4212802764_showUp .3s ease;
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 10px #0003;
    min-height: 50px; */
