.movies-list-main {
  background-color: rgb(18, 18, 18);
  position: relative;
}

.movie-list-p-m {
  padding: 24px 32px 0;
}

.add-rel-main {
  position: relative;
}

.hr-list-align {
  padding: 0 32px;
  display: flex;
  overflow-x: scroll;
  gap: 8px;
  padding-top: 15px;
  scroll-behavior: smooth;
  box-sizing: content-box;
  scrollbar-width: none;
}

.arrow-align-main {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 168px;
  left: 16px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.movies-list-main:hover .arrow-align-main {
  opacity: 1;
}

.hidden-bg {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hover-bg-col-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 0px;
  opacity: 0;
}

.movies-list-main:hover .hover-bg-col-main {
  opacity: 1;
}

.bg-w-h-left {
  width: 8%;
  height: 300px;
  border-radius: 0 16px 16px 0;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.43) 20%,
    rgba(0, 0, 0, 0.8) 66%
  );
  z-index: 4;
}

.bg-w-h-right {
  width: 8%;
  height: 300px;
  border-radius: 16px 0px 0px 16px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(0, 0, 0, 0.43) 20%,
    rgba(0, 0, 0, 0.8) 66%
  );
  z-index: 4;
}

.arrow-z {
  z-index: 6;
  transition: opacity 0.3s ease-in-out;
}

.hidden-arrow {
  visibility: hidden;
  pointer-events: none;
}

.img-cls-hr {
  border-radius: 8px;
}

.img-div-hr {
  transition: transform 0.4s ease;
}

.img-div-hr:hover {
  transform: translateY(-16px);
}
